<!-- 英文页面下的header -->

<!--	最上面的图标	  -->
<div id="logo">
    <img src="assets/images/icons/logo.png" alt="logo"/>
</div>

<!--	最上面的语言切换	  -->
<div id="social-media">
    <p>English | <a href="{{ include.header_language_CN }}">中文</a></p>
</div>

<!--	导航栏	  -->
<div id="topnav">
    <ul>
        <a href="index.html"><li>HOME</li></a>
        <a href="research.html"><li>RESEARCH</li></a>
        <a href="people.html"> <li>MEMBERS</li></a>
        <a href="publications.html"> <li>PUBLICATIONS</li></a>
        <a href="news.html"> <li>NEWS</li></a>
        <a href="gallery.html"> <li>GALLERY</li></a>
        <a href="contact.html"><li style="border-right: 0px">CONTACT</li></a>
    </ul>
</div>