<!--	最上面的图标	  -->
<div id="logo">
    <img src="../assets/images/icons/logo.png" alt="logo"/>
</div>

<!--	最上面的语言切换	  -->
<div id="social-media">
    <p><a href="{{ include.header_language_EN }}">English</a> | 中文</p>
</div>
<!--
                    <div id="social-media">
                        <ul>
                          <li><a href="https://www.linkedin.com/pub/zida-li/40/870/6b1" target="_blank"><img src="image/icons/linkedin.png" alt="LindedIn"/></a>
                          <li><a href="https://scholar.google.com/citations?user=9s8iCB0AAAAJ&amp;hl=en" target="_blank"><img src="image/icons/google_scholar.png" alt="Google Scholar" /></a>
                          <li><a href="http://me.engin.umich.edu/ibbl/" target="_blank"><img src="image/icons/um_ibbl.png" alt="IBBL lab at UM" /></a>
                          <li><a href="http://web.hku.hk/~ashum" target="_blank"><img src="image/icons/hku.png" alt="Shum lab at HKU" /></a>
                          <li><a href="http://staff.ustc.edu.cn/~heliqun/" target="_blank"><img src="image/icons/ustc.jpg" alt="He lab at USTC" /></a>
                        </ul>
                    </div>
                    -->

<!--	导航栏	  -->
<div id="topnav">
    <ul>
        <a href="index_CN.html"><li>主页</li></a>
        <a href="research_CN.html"><li>研究</li></a>
        <a href="people_CN.html"> <li>成员</li></a>
        <a href="publications_CN.html"> <li>成果</li></a>
        <a href="news_CN.html"> <li>新闻</li></a>
        <a href="gallery_CN.html"> <li>朋友圈</li></a>
        <a href="contact_CN.html"><li style="border-right: 0px">联系我们</li></a>
    </ul>
</div>