<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	{% include head.html head_title=site.head_title_Publication_CN css_file=site.css_file_default %}

	<body>
    <!-- use jssor.slider.min.js instead for release -->
    <!-- jssor.slider.min.js = (jssor.js + jssor.slider.js) -->
 	<!--   <script type="text/javascript" src="../js/jssor.js"></script> -->
	
    
	<div id="outer">
  		<div id="wrapper">
  			<div id="header_wrapper">
				{% include header_CN.html header_language_EN=site.header_Publication_EN%}

			 	<div id="people-section">
					{{ content }}
				</div>


				{% include footer.html %}
			</div>
		</div>
	</body>
</html>
